:root.theme-dark {
  --accent-color: #FF0070; 
  --title-background: #FF0070;    
  --main-title-color: #DB00FF;
  --button-color: #FF0070;
  --button-border-color: #FF0070;
  --page-background: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --content-title-color: #FF0070;
  --card-subtitle: #FF0070;
  --text-color: #F1B2CE;
  --link-color: #F1B2CE;
  --button-hover: #FF007066;
  --main-text-color: #000028;
  --decorated-zone-color: #FF0070;
}

.theme-dark .rec {
  display: block;
}

