:root.theme-light {
  --accent-color: #FF8DCB;
  --title-background: #FF8DCB;
  --main-title-color: #FFC2E6;
  --button-color: #353430;
  --button-border-color: #353430;
  --page-background: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
  --content-title-color: #353430;
  --card-subtitle: #FF8DCB;
  --text-color: #353430;
  --link-color: #353430;
  --button-hover: #32312D66;
  --main-text-color: #353430;
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme:light) {
  :root {
    --accent-color: #FF8DCB;
    --title-background: #FF8DCB;
    --main-title-color: #FFC2E6;
    --button-color: #353430;
    --button-border-color: #353430;
    --page-background: #FFF1F7;
    --background-image: url(../images/cover-image-light.png);
    --content-title-color: #353430;
    --card-subtitle: #FF8DCB;
    --text-color: #353430;
    --link-color: #353430;
    --button-hover: #32312D66;
    --main-text-color: #353430;
  }

  .rec {
    display: none;
  }
}


